<h3><%= link_to @post.title, @post.url %> </h3>
<p><%=  pluralize(@post.comments.count, ' comment') %> </p>
<ul>
<% @post.comments.each do |comment| %>
  <li> <%=  comment.content %> </li>
<% end %>
</ul>
